@font-face {
  font-family: "GothaPro";
  src: url(../fonts/GothaProBol.woff);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "GothaPro";
  src: url(../fonts/GothaProReg.woff);
  font-style: normal;
  font-weight: 400;
}
