<footer class="db-footer">
    <div class="db-footer__link-box">
        <a class="db-footer__copyright" href="#">2017 © blagorod.ua</a>
        <a class="db-footer__documents" href="#">Документы</a>
    </div>
    <a class="db-footer__answer" href="#">
        <svg width="14" height="12"
             viewBox="0 0 14 12">
            <use xlink:href="#envelope"/>
        </svg>
        Задать вопрос
    </a>
    <div class="db-footer__options">
        <div class="db-footer__languages">
            <a href="#">RU</a>
            <a href="#">UA</a>
        </div>
        <a class="db-footer__sound" href="#">вкл</a>
        <a class="db-footer__logo" href="#">
            <img src="./assets/img/footer_logo.png" alt="footer-logo">
        </a>
    </div>
</footer>
